.content {
  max-width: 10px;
  margin: auto;
  background: pink;
  padding: 5px;
}
body {
  background-color:#FF7F50  ;
}

h1 {
  color:#FF7F50 ;
  text-align: center;
color: white;
  text-shadow: 2px 2px 4px #FF7F50;
}
img {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

p {
  font-family: verdana;
  font-size: 30px;
}

.content {
  max-width: 500px;
  margin: auto;
  background: ;
  padding: 200px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row:after {
  content: "";
  clear: both;
  display: table;
}