body {
  background-color: pink;
}

h1 {
  color: black;
  text-align: left;
}


p {
  font-family: verdana;
  font-size: 20px;
}

div {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: pink;
}

div {
  margin: 10px;
  border: 1px solid #4CAF50;
}

iv {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: yellow;
}

.content {
  max-width: 500px;
  margin: auto;
  background: yellow;
  padding: 10px;
}

div {
  margin: 10px;
  border: 1px solid #4CAF50;
}