body {
  background-color: pink;
}

h1 {
  color: black;
  text-align: left;
}


p {
  font-family: verdana;
  font-size: 20px;
}
</style>
                  
</head>
<body>
<div>
       <h1>My Favorite Stuffed Delicious Chicken Breast Recipe</h1>
     </div>
<style>
div {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: pink;
}

div {
  margin: 10px;
  border: 1px solid #4CAF50;
}
</style>
iv {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: yellow;
}
</style>
<div>
<body>
    <style>
div {
  margin: 10px;
  border: 1px solid #4CAF50;
}